/* Pretendard 가져오기 */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}



    /* =========================
   1) 조합형 클래스
   - 여러 역할이 같이 들어간 전용 클래스
========================= */

/* =========================
   2) 두께 관련 클래스
   - font-weight 중심
========================= */

.font-weight-light {
    font-family: 'Pretendard';
    font-weight: 300;
}

.font-weight-regular {
    font-family: 'Pretendard';
    font-weight: 400;
}

.font-weight-medium {
    font-family: 'Pretendard';
    font-weight: 500;
}

.font-weight-semibold {
    font-family: 'Pretendard';
    font-weight: 600;
}

.font-weight-bold {
    font-family: 'Pretendard';
    font-weight: 700;
}


/* =========================
   3) 크기 관련 클래스
   - font-size 중심
========================= */
.font-size-hero {
    font-size: clamp(3.875rem, 10vw, 6.375rem);
}
.font-size-14-16{
    font-size: clamp(0.875rem, 1.5vw, 1rem);
}

.font-size-16-20 {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    
}
.font-size-23-38 {
    font-size: clamp(1.4375rem, 2vw, 2.375rem);
}

.font-size-16-24 {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}
.font-size-32-52{
    font-size: clamp(2rem, 2vw, 3.25rem);
}

.font-size-48-58 {
    font-size: clamp(3rem, 4vw, 3.625rem);
}
.font-size-50-70 {
    font-size: clamp(3.125rem, 4vw, 4.375rem);
}
.font-size-14{
    font-size: 0.875rem;
}

.font-size-16{
    font-size: 1rem;
}
.font-size-18-32 {
    font-size: clamp(1.125rem, 2vw, 2rem);
}

.font-size-16-18 {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
}

.font-size-22-42 {
    font-size: clamp(1.375rem, 2vw, 2.625rem);
}

.font-size-14-17{
    font-size: clamp(0.875rem, 1.5vw, 1.0625rem);
}

.font-size-20-34 {
    font-size: clamp(1.25rem, 2vw, 2.125rem);
}

.font-size-38-48 {
    font-size: clamp(2.375rem, 4vw, 3rem);
}

.font-size-25-32 {
    font-size: clamp(1.5625rem, 2vw, 2rem);
}

.font-size-22-32 {
    font-size: clamp(1.375rem, 2vw, 2rem);
}

.font-size-42-52 {
    font-size: clamp(2.625rem, 4vw, 3.25rem);
}
.font-size-25-42 {
    font-size: clamp(1.5625rem, 4vw, 2.625rem);
}












/* =========================
   4) 색상 관련 클래스
   - color 중심
========================= */
.font-color-1A1209 {
    color: #1A1209;
}

.font-color-106DEA {
    color: #106DEA;
}

.font-color-2249FF {
    color: #2249FF;
}

.font-color-FFEE00 {
    color: #FFEE00;
}

.font-color-515151 {
    color: #515151;
}

.font-color-333 {
    color: #333;
}

.font-color-fff {
    color: #fff;
}

